/**
 * @file UI styles for the CCK import field table.
 *
 * Includes some show/hide tricks triggered by some value changes on form 
 * selectboxes
 *  
 *
 * @author Dan (dman) Morrison - http://coders.co.nz
 * @version 2009-10
 */

.typedef-fields td{
  vertical-align: top;
}
/* 
  hide/show elements of the cck field table - use css and class context to make form elements disappear 
*/

/* 
  Do not show the entityreference cell unless the row is of type entityreference 
*/
.typedef-fields tr.filtered .referenceable_types div{
  display:none;
}
.typedef-fields tr.type-entityreference .referenceable_types div{
  display:block;
}


/* 
  Do not show the vocabulary selection cell unless the row is of type taxonomy 
*/
.typedef-fields tr.filtered .vocabularies div{
  display:none;
}
.typedef-fields tr.type-taxonomy_term_reference .vocabularies div{
  display:block;
}
.typedef-fields tr.type-taxonomy_term_reference .group div,
.typedef-fields tr.ttype-taxonomy_term_reference .widget_type div{
    display:none;
}
  


/* Very minor visual tweaks to make the form less horrible */

.typedef-fields .field_name .form-text {
  text-align:right;
}

.typedef-fields table tr.footer td {
  vertical-align:top
}

.typedef-fields tr.text td.widget_type select.error {
  background-color:red;
  color:pink;
}

/* deliberately low-contrast */
.typedef-fields tr.group-common_topic ,
.typedef-fields tr.group-common_topic input,
.typedef-fields tr.group-common_topic select
{
  color:#555;
}
.typedef-fields tr.group-common_topic input,
.typedef-fields tr.group-common_topic select
{
  border-color:#DDD;
  border-width:1px;
}

.typedef-fields tr.no-create ,
.typedef-fields tr.no-create input,
.typedef-fields tr.no-create select
{
  background-color:#EEE;
  color: #888;
}
.typedef-fields tr.field-exists {
  background-color:#F8F8F8;
}

.typedef-fields tr.create ,
.typedef-fields tr.create input,
.typedef-fields tr.create select
{
  background-color:#FAFAFA;
}
